
@{
    ViewBag.Title = "CTSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="HomeController">
    <div class="prod_box_big">
        <div class="top_prod_box_big"></div>
        <div class="center_prod_box_big">
            <div class="product_img_big">
                <a href="javascript:popImage('images/big_pic.jpg','Some Title')" title="header=[Zoom] body=[&nbsp;] fade=[on]">
                <img src="{{sp.HinhAnh}}" class="img-big" alt="" border="0" /></a>
                <div class="thumbs"> <a href="#" title="header=[Thumb1] body=[&nbsp;] fade=[on]">
                    <img src="{{sp.HinhAnh}}" class="img-small" alt="" border="0" /></a> <a href="#" title="header=[Thumb2] body=[&nbsp;] fade=[on]">
                    <img src="{{sp.HinhAnh}}" class="img-small" alt="" border="0" /></a> <a href="#" title="header=[Thumb3] body=[&nbsp;] fade=[on]">
                    <img src="{{sp.HinhAnh}}" class="img-small" alt="" border="0" /></a> </div>
            </div>
            <div class="details_big_box">
                <div class="product_title_big">{{sp.TenSP}}</div>
                <div class="specifications">
                    Disponibilitate: <span class="blue">In stoc</span><br />
                    Garantie: <span class="blue">24 luni</span><br />
                    Tip transport: <span class="blue">Mic</span><br />
                    Pretul include <span class="blue">TVA</span><br />
                </div>
                <div class="prod_price_big"><span class="reduce">{{sp.KhoiLuong}}$</span> <span class="price">{{sp.KichThuoc}}$</span></div>
                <a href="#" class="addtocart">add to cart</a> <a href="#" class="compare">compare</a>
            </div>
        </div>
        <div class="bottom_prod_box_big"></div>
    </div>
</div>>
